/*------------CSS------------*/
.container {
	width:100%; 
	float:left;
	}

//Header is fixed in this example and given some simple styling.
header {
	float:left;
	width:100%;
	background: #ccc;
	z-index: 1;
	padding:0;
	nav{
		li{
			display: inline;
			padding: 0 40px;
		}
	}
}
.wrapper {
	float:left;
	width:100%;
	max-width:960px;
	margin:0 auto;
	float:none;
}
//Page Title: margin top is set as the offset from the static menu
.pageTitle {
	width:100%; 
	float:left;
	border-bottom: 1px solid #ccc;
	margin-top:50px;
}
.mainContent {
	float:left;
	max-width:960px;
	margin:0 auto;
	padding:3% 0;
	width:69%;
}

.menu a:hover { color:#fff;
	background-color:#4f8cb3;
	cursor:pointer;
	}
//Floating navigation for anchor points on single page
#subNavigation{
	min-height: 100px;
	float: left;
	width: 25%;
	ul{
		padding: 0;
		float: left;
		width:20%;
		margin-top: 40px;
		list-style: none;

		li{
			width: 200px;
			float: left;
		}
		// Nested ul
		ul{
				position: inherit;
				float: left;
				text-indent: 20px;
				margin-top: 0;
				width: 100%;
		}
		
		a{
			display: block;
			padding: 10px;
			border-bottom: 1px solid #ccc;
			text-decoration: none;
		}
	}
}
//Adjust top position relative to the height of the pageTitle element so that the navigation bar doesn't jump when the fixed position class is activated
.subNavigationPosition{
	position: fixed;
	top:0px;	
}
article {
	float:left;
	width:100%;
	margin:0 0 18px 0;
	}
.active > a{
	color: orange;
}
.active > ul{
	max-height: 5000px!important;
}
//Sub nav is active show internal list. 
//This is a new classed added to the parent ul in order 
//for the internal content to be accessible for those without javascript
.subNavHide{
  ul ul{
		max-height: 0;
		float: left;
		overflow: hidden;
		width: 100%;
		-webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
	}
	.activeParent{
		max-height: 500px;
		-webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
	}
}